@forward "base";
@forward "layout";

:root {
  --color-primary: #ed80fd;
  --background-neutral: #fefcfe;
  --background-secondary: #fdf2fe;
  --color-border: #cbcbcb8f;
  --text-neutral: #101656;
  --text-neutral-lighter: #101656be;
}

.wrapper {
  background-color: var(--background-neutral);
  display: grid;
  gap: 6em;
}

.container {
  width: min(100% - 2rem, 85rem);
  margin: 0 auto;
}

.container-thin {
  width: min(100% - 2rem, 80rem);
  margin: 0 auto;
}

.justify-self-end {
  justify-self: flex-end;
}
